@model IEnumerable<ASP.Models.Cat>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped" id="table1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Catid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <th>
        @Html.DisplayFor(modelItem => item.Catid)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Catname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>

        @Html.ActionLink("Edit", "Edit", new { id = item.Catid })|
        @Html.ActionLink("Delete", "Delete", new { id = item.Catid }, new { onclick = "return confirm('Are you sure you wish to delete this cat?');" })

    </td>
</tr>}
    </tbody>
</table>
