@model ASP.Models.Trainee
@{ ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Create</h2>
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Traineeid, htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.EditorFor(model => model.Traineeid, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Traineeid, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Traineename, htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.EditorFor(model => model.Traineename, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Traineename, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.local_address, htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.EditorFor(model => model.local_address, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.local_address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Courseid, htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.EditorFor(model => model.Courseid, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.Courseid, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Coursetoeic, htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.EditorFor(model => model.Coursetoeic, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.Coursetoeic, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.Accountid, htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.EditorFor(model => model.Accountid, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.Accountid, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary me-1 mb-1">
                                Create
                            </button>
                        </div>
                    </div>
                </div>}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
