@model IEnumerable<ASP.Models.TrainingStaff>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped" id="table1">

    
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingStaffid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainingname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.local_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accountid)
            </th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.TrainingStaffid)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Trainingname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phonenumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.local_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accountid)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.TrainingStaffid })|
                    @Html.ActionLink("Delete", "Delete", new { id = item.TrainingStaffid }, new { onclick = "return confirm('Are you sure you wish to delete this cat?');" })

                </td>
            </tr>
        }
    </tbody>
    </table>